In [1]:
import pandas as pd
import glob
import os

In [5]:
path = r'C:\Users\tmkez\Desktop\homework\tableau-challenge\data'
all_files = glob.glob(os.path.join(path, "*.csv"))

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [47]:
concatenated_df.to_csv("C:/Users/tmkez/Desktop/homework/tableau-challenge/data/combined_tripdata_2020.csv")

In [7]:
concatenated_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [12]:
start_df = concatenated_df.groupby("start station id").count()

In [24]:
clean_start = pd.DataFrame(start_df["tripduration"]).reset_index()

In [25]:
clean_start.head()

   start station id  tripduration
0                72         19800
1                79          7387
2                82          5211
3                83          8073
4               116         21706

In [13]:
end_df = concatenated_df.groupby("end station id").count()

In [26]:
clean_end = pd.DataFrame(end_df["tripduration"]).reset_index()

In [27]:
clean_end.head()

   end station id  tripduration
0              72         19810
1              79          7504
2              82          5243
3              83          8251
4             116         21704

In [36]:
# df1.merge(df2, left_on='lkey', right_on='rkey')
combined_flow = clean_start.merge(clean_end, left_on='start station id', right_on='end station id')

In [39]:
combined_flow = combined_flow.drop(['end station id'], axis=1)

In [44]:
combined_flow = combined_flow.rename(columns={"start station id": "Station ID", "tripduration_x": "Originating Trips", 
                              "tripduration_y": "Ending Trips"})

In [45]:
combined_flow["Flow"] = combined_flow['Ending Trips'] - combined_flow['Originating Trips']

In [46]:
combined_flow.head()

   Station ID  Originating Trips  Ending Trips  Flow
0          72              19800         19810    10
1          79               7387          7504   117
2          82               5211          5243    32
3          83               8073          8251   178
4         116              21706         21704    -2